h1{
    color: white;
    display: flex;
    }
    .menu-bg{
    display: grid;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    gap: 200px;
    height: 86vh;
    width: 75%;
    padding: 0,20px;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
    grid-template-columns: 1fr 1fr 1fr;
    columns: 1/-1;
    }
    .menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 25px;
    }
    @media (max-width: 600px) {
        .menu-bg{
          grid-template-columns: 1fr;
          height: 86vh;
    width: 75%;
        }
        .menu{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            margin-right: 25px;
        }
        .prato{
            height: 40vh;
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
        /* .pedidos{
            display: none;
        } */
        .cardapio{
            display:block;
        }
    
      }